@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes dropdown-active {
  from {
    max-height: 0;
  }
  to {
    max-height: calc(100vh - 4rem);
  }
}
/*.dropdown-active {
  animation: dropdown-active 0.3s ease-in-out forwards;
}*/

@keyframes dropdown-hidden {
  from {
    max-height: 217px;
  }
  to {
    max-height: 0;
  }
}
/*.dropdown-hidden {
  animation: dropdown-hidden 0.3s ease-in-out forwards;
}
*/
