@use "utilities" as *;

button {
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
}

.button {
	display: inline-block;
	padding: 0.875rem 3.875rem;
	border: rem(2) solid var(--color-blue-2);
	text-align: center;
	cursor: pointer;

	font-family: inherit;
	font-size: 1.125rem;
	font-weight: 600;

	outline: none;
	white-space: nowrap;

	transition-duration: 200ms;
	transition-timing-function: ease-in-out;

	&--primary {
		color: var(--color-white-1);
		background-color: var(--color-blue-2);

		transition-property: color, background-color;

		&:focus,
		&:hover {
			color: var(--color-blue-2);
			background-color: var(--color-white-1);
		}
	}

	&--secondary {
		color: var(--color-blue-4);
		border-color: var(--color-blue-4);

		transition-property: color, background-color, border-color;

		&:focus,
		&:hover {
			border-color: var(--color-blue-6);
			background-color: var(--color-white-1);
		}
	}
}

.dropdown-button {
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	font-family: "Mukta", sans-serif;
	letter-spacing: 0.03125rem;
	cursor: pointer;
}
