@use "utilities" as *;

.nav {
  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include breakpoint(medium) {
      height: 100%;
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  &__item {
    position: relative;
    cursor: pointer;

    @include breakpoint(medium) {
      height: 100%;
    }

    @include breakpoint-down(small) {
      &:not(:last-child) {
        border-bottom: var(--border-primary);
      }
    }

    &:hover,
    &:focus-within {
      > * {
        color: var(--color-hover);
      }
    }

    &--dropdown {
      &.active {
        .nav__link i {
          transform: rotate(-90deg);
        }
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
    font-size: 1.375rem;
    font-weight: 600;
    text-decoration: none;
    user-select: none;

    @include breakpoint(medium) {
      height: 100%;
      padding: 0 1.5rem;
      font-size: 1.125rem;
    }

    color: var(--color-secondary);

    .fa-angle-down {
      margin-left: 0.75rem;
      @include breakpoint(medium) {
        margin-left: 0.5rem;
      }
      transition: var(--transition);
    }
  }

  &__dropdown {
    height: 0;
    overflow: hidden;

    @include breakpoint(medium) {
      width: 100%;
      position: fixed;
      top: 4rem;
      left: 0;
      z-index: 999;
      cursor: auto;
    }

    &::before {
      @include breakpoint(medium) {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        background-color: var(--color-primary);
        opacity: 0.3;
        backdrop-filter: blur(4px);
      }
    }
  }

  &__footer {
    margin-top: auto;
    padding-top: 1.25rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    border-top: var(--border-primary);

    span {
      color: var(--color-primary);
      letter-spacing: rem(0.125);
    }
  }
}
