@use "utilities" as *;

.header {
  height: 4rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--background-primary);
  box-shadow: var(--shadow-primary);

  > .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint-down(small) {
      padding: 0;
    }
  }

  &__hamburger {
    width: 4.25rem;
    height: 100%;
    padding: 1.125rem;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    span {
      width: 100%;
      height: 0.25rem;
      background-color: var(--color-secondary);
    }
  }

  &__menu {
    width: 100%;
    height: 100%;

    @include breakpoint-down(small) {
      transform: translateX(-100%);
      height: calc(100vh - 4rem);
      position: fixed;
      top: 4rem;
      left: 0;
      z-index: 999;
    }

    &::before {
      @include breakpoint-down(small) {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        background-color: var(--color-primary);
        opacity: 0.3;
        backdrop-filter: blur(4px);
      }
    }
  }
}
