$color-blue-1: #001233;
$color-blue-2: #001845;
$color-blue-3: #002855;
$color-blue-4: #023e7d;
$color-blue-5: #0353a4;
$color-blue-6: #0466c8;
$color-blue-7: #3ea6ff;
$color-manatee: #979dac;
$color-white-1: #ffffff;
$color-white-2: #fafafa;

$border-1: 1px solid hsl(0, 0%, 90%);
$shadow-1: 0 0 10px 0 rgba(0, 0, 0, 0.1);

$transition-1: 0.2s ease-in-out;
$transition-2: 0.3s ease-in-out;

$header-height: calc(6rem + 1px);
$header-height-small: calc(4rem + 1px);
