$color-primary: #1e1e35;
$color-secondary: hsl(240, 50%, 20%);
$color-hover: hsl(0, 0%, 45%);

$background-primary: hsl(0, 0%, 100%);
$background-secondary: hsl(0, 0%, 98%);

$border-primary: 1px solid hsl(0, 0%, 90%);
$border-secondary: 1px solid hsl(0, 0%, 90%);

$shadow-primary: 0 0 10px 0 rgba(0, 0, 0, 0.1);

$transition: all 0.2s ease-in-out;
