@use "utilities" as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--color-blue-1);
  background-color: var(--color-white-2);
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

textarea {
  resize: vertical;
}

.container {
  max-width: 90rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
}

.noscroll {
  overflow: hidden;
}

.overlay {
  background: rgba(#000, 0.5);
  position: absolute;
  top: rem(55);
  visibility: hidden;
  overflow: hidden;
}

[hidden] {
  display: none !important;
}

.hide-for-desktop {
  @include breakpoint(medium) {
    display: none !important;
  }
}

.hide-for-mobile {
  @include breakpoint-down(small) {
    display: none !important;
  }
}
