@use 'utilities' as *;

.product-page {
	.product {
		@include breakpoint-down(medium) {
			padding-top: 1.5rem;
		}
		> .container {
			display: flex;
			flex-direction: column;
			gap: 1.5rem;

			@include breakpoint(large) {
				flex-direction: row;
				gap: 5rem;
			}
		}
		&__left {
			flex: 1.5;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			@include breakpoint(large) {
				gap: 1.25rem;
			}
		}
		&__right {
			flex: 1;
			gap: 1.5rem;
			display: flex;
			flex-direction: column;
		}
		&__image {
			img {
				aspect-ratio: 4 / 3;
				width: 100%;
				height: 100%;
			}
		}
		&__thumbnails {
			max-width: 100%;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 0.5rem;

			@include breakpoint(large) {
				gap: 1.25rem;
			}
			img {
				width: 100%;
				height: 100%;
				aspect-ratio: 4 / 3;
				opacity: 0.5;
				cursor: pointer;

				&.active {
					opacity: 1;
					box-shadow: 0 0 0 rem(1) var(--border-color);
          border-radius: var(--border-radius);
				}
			}
		}
		&__placeholder {
			font-size: 1.125rem;
			font-weight: 600;
			color: var(--color-manatee);
		}
		&__name {
			font-size: 2rem;
			font-weight: 600;
			color: var(--color-blue-2);
			@include breakpoint(large) {
				font-size: 2.5rem;
			}
		}
		&__description {
			margin-top: 0.125rem;
			max-width: 60ch;
			font-size: 1.125rem;
			color: var(--color-gray-1);
		}
		&__order-button {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 1.25rem;
			margin-top: auto;
			font-size: 1.25rem;
			line-height: 1.5;
			.icon {
				font-size: 1.25rem;
				width: 1.5rem;
			}
		}
	}

	.similar-products {
		background-color: var(--color-white-2);
		box-shadow: inset 0 rem(1) 0 0 var(--color-white-3);

		> .container {
			display: grid;
			grid-gap: 1.5rem;

			@include breakpoint(large) {
				grid-template-columns: repeat(2, 1fr);
			}
		}

		&__title {
			padding-bottom: 1.5rem;
			font-size: 2rem;
			font-weight: 600;
			text-align: center;
			color: var(--color-blue-2);
			order: 1;

			@include breakpoint(large) {
				padding: 0;
				margin-right: auto;
				place-self: center;
				grid-column: 1 / 2;
				text-align: left;
				font-size: 2.5rem;
			}
		}
		&__cards {
			display: grid;
			grid-gap: 1.5rem;
			order: 2;

			@include breakpoint(large) {
				grid-template-columns: repeat(3, 1fr);
				grid-column: 1 / -1;
				order: 3;
			}
		}
		&__show {
			display: flex;
			justify-content: center;
			order: 3;

			@include breakpoint(large) {
				width: fit-content;
				height: fit-content;
				margin-left: auto;
				place-self: center;
				grid-column: 2 / -1;
				order: 2;
			}

			i {
				margin-left: 0.5rem;
			}
		}
	}
}
